body{
    margin: 0;
}
header {
    background-color: greenyellow;
    height: 10vh;
    text-align: center;
}
table{
    margin: auto;
    border: 1px solid black;
}
th, tr{
    border: 1px solid black;
}